$primary-color: #32cd32;
$primary-color-light: #73ff65;
$primary-color-dark: #009b00;
$primary-color-text: #ffffff;

$secondary-color: #bdbdbd;
$secondary-color-light: #efefef;
$secondary-color-dark: #8d8d8d;
$secondary-color-text: #000000;