@import "../../../shared.scss";

.banner {
    background: transparent url('../../../assets/imgs/paysage-de-montagne-montagnes-optimized.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../assets/imgs/paysage-de-montagne-montagnes-optimized.jpg', sizingMethod='scale');
    height: 200px;
    width: 100%;
    margin-bottom: 1.5em;
    display: table;
}

.banner-as-background {
    height: 100vh;
}

.banner-head {
    display: table-cell;
    margin-bottom: 0;
    font-size: 2em;
    color: $primary-color-text;
    font-weight: 500;
    text-shadow: 0 1px 1px $secondary-color-text;
}

.banner-head-middle {
    vertical-align: middle;
}

.relative-block {
    position: relative;
}

@media(min-width: 767px) {
    .banner-head {
        font-size: 4em;
    }
}

@media (min-width: 480px) {
    .banner {
        height: 400px;
    }

    .banner-head {
        font-size: 3em;
    }
}